GROQ_API_KEY=you_groq_api
JWT_SECRET_KEY=75a1b31b81f289840ea30b9bf0795e6289b4d09846d4fdcf4457313097c5c9a0
DATABASE_URL=sqlite:///./data/business_claims.db
GROQ_MODEL=openai/gpt-oss-120b
EMBEDDING_MODEL=all-MiniLM-L6-v2
CHROMA_COLLECTION=travel_policies
TOP_K=6