langchain
langchain-core
langchain-chroma
langchain-google-genai
langchain-text-splitters
chromadb
google-generativeai
python-dotenv
pypdf
torch
sentence-transformers

fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
pwdlib[argon2]
python-multipart
email-validator