langchain
langchain-core
langchain-chroma
langchain-google-genai
langchain-text-splitters
chromadb
google-generativeai
python-dotenv
pypdf
chromadb
google-generativeai
python-dotenv
torch
sentence-transformers

